@import "@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply text-gray-700 font-sans bg-[#f9f9f9]
    }

    .active {
        @apply bg-white px-4 py-2 text-blue-700 font-bold rounded-md
    }

    .disabled {
        @apply cursor-not-allowed
    }

    .page-link {
        @apply border border-blue-400 px-4 py-2 hover:bg-blue-700 hover:text-white rounded-md 
    }

    .active {
        @apply bg-blue-700 text-white
    }

}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}